body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
}

div {
    position: relative;
    margin-left: 150px;
    top: 50px;
}

select {
    border: solid 2px;
    width: 150px;
    font-size: 20px;
    border-radius: 5px;
}

input[type=submit] {
    border-radius: 5px;
    font-size: 20px;
    position: relative;
    top: 50px;
    left: -500px;
}

input[type=text], [type=number], select {
    margin: 12px 0px;
    border-radius: 5px;
    width: 850px;
    font-size: 20px;
    border: solid 2px;
}

input[type=text]::placeholder, [type=number]::placeholder {
    text-align: center;
}